.site-layout-content {
  min-height: 100vh;
  padding: 0px;
  background: rgb(206, 193, 193);
}
.logo {
  float: left; 
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}
.ant-row-rtl .logo {
  float: right;
  margin: 16px 0 16px 24px;
}
.rjo{
  height: 60px;
  width: 60px;
  margin-top: 5px;
  margin-right: 10px;
 border-radius: 50%;
  
}


.title{
  font-weight: bolder;
  margin-left: 20em;
}
.homeeee{
  font-size:40px;
  font-style: oblique;
  color: rgb(35, 163, 214);
  text-align: center;
  margin-top: 2px; 
}
.home-h2{
  font-size: 30px;
  color: white;
  text-align: left;
  margin-top: 30px;
  

}
.home-page{
  
  background-image: url("../assets/pp.jpeg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
}
.card-container{
  text-align: center;
      width:100%;
      background:"#e6f6ff";
      padding: 10px;    
}
.card-container:hover{

  cursor:pointer;
  opacity:0.8;
}
.job-icon{
  font-size:25px;
  margin:10px;
  float:right;
}



.about-title{
  font-size: 40px;
}
.about-pic{
   height: 105px;
  width: 105px;
 
  margin-right: 10px;
 border-radius: 50%;
}

.button-home{
 margin-top: -80px;
 margin-left: 10em;  

}

.star-icon{
 margin-top: 80px;
 margin-left: -200px;
 justify-content: space-between;
}



  .about-title{
    font-size: 40px;
    color: skyblue;
  }
  .about-pic{
     height: 105px;
    width: 105px;
    margin-right: 10px;
   border-radius: 50%;
  }
  
 .button-home{
   margin-top: -80px;
   margin-left: 10em;  
 }
 


.sign-content{
  margin-top: 30px;

}


.card-dashboard{

  width: 90%;
  height: 80%;
  margin: 10% 3% 3% 5%;
  box-shadow: 0px 0px 3px 3px #B0C4DE;
}


.createapp-button{
  margin-left: 20%;
  width: 20%;
}

.dashboard-content p{
  font-size: 18px;
  color: rgb(78, 76, 76);

}
.dragger-document{
  margin-left: 200px;
  width: 800px;
 
}


  .title-details{

    justify-content: center;
  text-align: center;
  font-size: 25px;
  color: #1E90FF;
  }
  .profile-form{

    width: 80%;
    height: 70%;
    margin: 1% 3% 3% 15%;
    box-shadow: 0px 0px 3px 3px #fff;
    padding: 3% 10% 2% 5%;
  }
  .education-profile{

    width: 100%;
    height: 70%;
    margin: 1% 3% 3% 15%;
    box-shadow: 0px 0px 3px 3px #fff;
    padding: 3% 10% 2% 5%;

  }

  .create-application{

  width: 70%;
  height: 70%;
  margin: 1% 3% 3% 15%;
  box-shadow: 0px 0px 3px 3px#B0C4DE;
  padding: 3% 10% 2% 5%;

  }
  .create-job{

    width: 70%;
  height: 70%;
  margin: 1% 3% 3% 10%;
  box-shadow: 0px 0px 3px 3px#B0C4DE;
  padding: 3% 10% 2% 5%;


  }


  