
  .card-signup{

    height:100% ;
    width: 100%;
    background: url(../assets/login.jpg);

  }
  
  .card-register {
    font-weight: 600;
    width: 50%;
    margin: 0% 3% 3% 25%;
    box-shadow: 0px 0px 3px 3px #B0C4DE;
    padding: 3% 10% 2% 5%;
    height: 90%;
    border-radius: 30px;



   
  }

.card-register h2{

  align-items: center;
  margin-left: 120px;
  color: dimgray;
  font-weight: bolder;
  font-size: 25px;

}

.card-register p{

  align-items: center;
  font-weight: bolder;
  color: dimgray;
  font-size: 15px;

}

 

 